RetroSnap.xcodeproj/project.xcworkspace/xcuserdata/entaku.xcuserdatad
RetroSnap.xcodeproj/xcuserdata
RetroSnap.xcodeproj/project.xcworkspace/contents.xcworkspacedata
RetroSnap.xcodeproj/xcshareddata/
